.App {
  text-align: center;
  background: #acd;
  width: 450px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px;
  margin-bottom: 30px;
}

body {
  background: #fcd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  margin: 10px;
  padding: 10px;
  background: #afc;
  border: none;
  border-radius: 4px;
  box-shadow: 5px 10px 15px;
  cursor: pointer;
}
